<div style="font-family: Helvetica,Arial,sans-serif; min-width:1000px; overflow:auto; line-height:2">
    <img src="https://fyp-images-narvitaa.s3.ap-south-1.amazonaws.com/resources/AuxiliarLogo.png" style = "width:200px; height:100px; padding:18px 0 0 65px;">
    <div style="margin:30px;width:40%;padding:0px 0">
        <div style="border-bottom:1px solid #eee">
          <a href="" style="font-size:1.4em; color:#660066; text-decoration:none; font-weight:600; text-align:center;">Welcome to Freelance Collaboration!</a>
        </div>
        <p>Dear {{name}},Thank you for joining our community.</p>
        <p>Please use the six digit OTP below to validate your account.</p><br/>
        <h2 style="background: #660066; margin: 0; padding: 0px 10px 0px 16px; color: #fff; border-radius: 5px; letter-spacing: 10px;">{{otp}}</h2><br/>
        <p style="font-size:0.9em;">Best Regards,<br />Freelance Collaboration Team</p>
        <hr style="border:none;border-top:1px solid #eee" />
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
          <p><i>~ Thank you ~</i></p>
        </div>
    </div>
</div>