<!-- Dear {{name}},
<div>
    Please enter the six digit OTP below to validate your account.
    <br/> <br/>
    <b>{{otp}}</b>
</div>-->

<div style="font-family: Helvetica,Arial,sans-serif; min-width:1000px; overflow:auto; line-height:2">
    <img src="https://fyp-images-narvitaa.s3.ap-south-1.amazonaws.com/resources/Capture.png" style = "width:200px; height:190px; display: block; margin: 0 auto 0 auto;">
    <div style="margin:30px auto;width:70%;padding:0px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em; color:#660066; text-decoration:none; font-weight:600; display:block; text-align:center;">Forgot your password?</a>
        </div>

        <p>That okay {{name}}, it happens! Let's get you a new one.</p>
        <p>Please use the six digit OTP below to reset your password.</p><br/>
        <h2 style="background: #660066; margin: 0 auto; width: max-content; padding: 0px 10px 0px 16px; color: #fff; border-radius: 5px; letter-spacing: 10px;"> {{otp}} </h2><br/>
        <p style="font-size:0.9em;">Best Regards,<br />The Auxiliar Team</p>

        <hr style="border:none;border-top:1px solid #eee" />

        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p><i>~ Thank you ~</i></p>
        </div>
    </div>
</div>