<div style="font-family: Helvetica,Arial,sans-serif; min-width:100px; overflow:auto; line-height:2">
    <img src="https://fyp-images-narvitaa.s3.ap-south-1.amazonaws.com/resources/Capture.png" style = "width:200px; height:190px; padding:18px 0 0 240px;">
    <div style="margin:30px auto;width:70%;">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em; color:#660066; text-decoration:none; font-weight:600;">Forgot your password?</a>
        </div>

        <p>That's okay {{name}}, it happens! Let's get you a new one.</p>
        <p>Please use the six digit OTP below to reset your password.</p><br/>
        <h2 style="background: #660066; padding: 0px 10px 0px 16px; color: #fff; border-radius: 5px; letter-spacing: 10px;"> {{otp}} </h2><br/>
        <p style="font-size:0.9em;">Best Regards,<br />The Auxiliar Team</p>
    </div>
</div>